@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}
/* header */
.navbar{ 
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;

  @media screen and (max-width:660px){
  flex-wrap: wrap;
  

  }
}

.leftSide img{
  -webkit-filter: drop-shadow(1px 3px 4px #222);
  filter: drop-shadow(0 0 16px #222);
  
}

.mid .navItems{
  display: flex;
  align-self: center;
  gap: 45px;
  @media screen and(max-width:660px) {
    flex-wrap: wrap;
  }
  
}

.mid ul {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19.36px;
  text-shadow: 1px 3px 3.5px rgba(0,0,0,0.55);
}
.rightSide {
  display: flex;
  gap: 30px;
  
}
.rightSide button {
  border: none;
  background: white;
  cursor: pointer;
}

.mid .navItems a{
  text-decoration: none;
  color: #000000;
}
 
/* HeroSection */

.Main {
  display: flex;
  height: min-content;
  justify-content: center;
  margin-top: 5.313em;
  border-radius: 25px;
  padding-inline: 40px;
}

 .leftHeroPage {
  background-color: #E7FAFE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem
  
}

.rightHeroPage {
  object-fit: contain;
  display: flex;
  justify-content: center;
  /* height: 100%; */

}

.leftHeroPage, .rightHeroPage {
  overflow: hidden;
  width: 50%;
}

.rightHeroPage img {
  width: 100%;
  object-fit: cover;
}

.hero-container {
  display: flex;
  width: 90%;
  border-radius: 3rem;
  overflow: hidden;
}
/* .rightHeroPage img {
  width: 100%;
  
  height: auto; 
  border-radius: 0px 25px 25px 0px;
  object-fit: cover;
  border: 1px solid black
} */

.leftHeroPage h1 {
  color: #000;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 0.05em;
}

.leftHeroPage p {
  color: rgba(0, 0, 0, 0.60);
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 1.5em;
  padding-left: 0.05em;
}


@media screen and (max-width: 768px) {
  .Main {
    width: 100vw;
    display: flex;
  }
  
  .hero-container {
    width: 85%;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.25rem;

  }

  .leftHeroPage, .rightHeroPage {
    width: 100%;
    aspect-ratio: 5/4;
    height: 50%;
  }

  .leftHeroPage {
      border-radius: 25px; 
      padding: 20px; 
  }

  .leftHeroPage h1 {
      font-size: 1.5rem;
  }

  .leftHeroPage p {
      padding-left: 1em; 
  }
}


/* Categories */
.maincategories{
  margin-top: 40px;
}
.categories{
  display: flex;
  justify-content: space-between;
}
.catImg {
  display: flex;
  justify-content: center;
  gap: 110px;
  margin-top: 2.5rem;
}

.Img1{
  border-radius: 30px;
background: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);

}
.Img2{
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(108, 198, 63, 0.00) 0%, rgba(108, 198, 63, 0.10) 100%);

}
.Img3{
  border-radius: 30px;
background: linear-gradient(180deg, rgba(204, 38, 27, 0.00) 0%, rgba(204, 38, 27, 0.10) 100%);
}
.Img4{
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(240, 158, 0, 0.00) 0%, rgba(240, 158, 0, 0.10) 100%);
}
.Img5{
  border-radius: 30px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.Img6{
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);

}
.catImg p{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;

}
.categories button{
  border-radius: 16px;
background: #E7FAFE;
padding: 5px 10px 5px 10px;
margin-right: 11.875rem;
}

.categories h1{
  color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 11.438rem;
flex-wrap: wrap;
}
@media (max-width: 768px)  {
  .catImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.categories{
  display: flex;
  flex-direction: column;
}
.categories button{
  margin-left: 80px;
  align-items: center;
  align-self: auto;
  padding-inline: 22px;
  width: 85%;
}
.categories h1{
  color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
width: 100%;
flex-wrap: wrap;
}
}
/* recipePart */

.recipeCards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.card{
flex-basis: 30%;
margin: 10px 0;
text-align: center;
padding: 20px 0px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
box-shadow: 0px 0px 10px 3px lightblue;
}
.recipetitle h1{
  color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.92px;
text-align: center;
margin-top: 50px;
}

.recipetitle p{
  color: rgba(0, 0, 0, 0.60);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */

}

.card_name{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.96px;
}

@media only screen and (min-width: 200px )and (max-width:767px) {
  .recipeCards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card{
      margin: 10px;
    }
}

/* End Part */

.recipeCards1 {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.recipetitle1{
  display: flex;
  justify-content: flex-end;
}
.card1{
flex-basis: 22%;
margin: 10px 0;
text-align: center;
padding: 20px 0px;
border-radius: 30px;
/* background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%); */
background:white;
/* box-shadow: 0px 0px 10px 3px lightblue; */
}
.card1 img{
  border-radius: 20px;
}
.recipetitle1 h1{
  color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.92px;
text-align: left;
margin-top: 50px;
margin-left: 30px;
}

.recipetitle1 p{
  color: rgba(0, 0, 0, 0.60);
  text-align: left;
  padding-top: 63px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-right: 40px;
line-height: 28px; /* 175% */

}

.card_name1{
  color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
letter-spacing: -0.72px;
}

@media only screen and (min-width: 200px )and (max-width:767px) {
  .recipeCards1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card1{
      margin: 10px;
    }
}

/* Delicacy Repeat */
.dc{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.delicacy-container{
  display: flex;
  flex-direction: column;
  border-radius: 60px;
background: #E7F9FD;
width: 90%;
/* padding-inline: 90px; */
/* align-items: center; */
justify-content: center;
overflow: hidden;
}
.delicacy-container h1{
  text-align: center;
  color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.92px;
}
.delicacy-container p{
  text-align: center;
  color: rgba(0, 0, 0, 0.60);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.delicacy-container .email-container{
  display: flex;
  justify-content: center;
 
}
#flower{
  transform: rotate(-31.507deg);
  width: 10%;
  height: 52%;
  
}
.delicacy-container .email-container .border{
  display: flex;
  justify-content: center;
  border-radius: 24px;
background: #FFF;
padding:1rem;

  /* padding: 16px 13.5em 13px 1.5em;  top right bottom left */
}
.delicacy-container .email-container .border .email{
  border: none;
  outline: none;
}
.delicacy-container .email-container .border button{
  border: none;
  outline: none;
  border-radius: 24px;
  background-color: #000;
  color: #FFF;
  padding: 10px 24px 10px 24px;
  cursor: pointer;
}
.delicacy-container .email-container {
  margin-top: 20px;
}
.sideCard{
  display: flex;
  justify-content: space-between;
}
@media(max-width:320px) {
  .delicacy-container h1{
  text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
}
}

/* Chef part */

.chef-main {
  /* display: flex; */
  /* height: min-content; */
  /* justify-content: center; */
  /* margin-top: 5.313em; */
  /* border-radius: 25px; */
  /* padding-inline: 40px; */
  width: 80%;
  justify-content: center;
  /* align-content: center; */
}

 .leftChefPage {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  padding-inline: 73px;
  
}
.leftChefPage button{
  border: none;
  outline: none;
  border-radius: 24px;
  background-color: #000;
  color: #FFF;
  padding: 10px 24px 10px 24px;
  cursor: pointer;
  align-self: start;
  
}
.rightChefPage {
  object-fit: contain;
  display: flex;
  justify-content: center;
  border-radius: 30px;
background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
  /* height: 100%; */

}

.leftChefPage, .rightChefPage {
  overflow: hidden;
  width: 50%;
}

.rightChefPage img {
  width: 100%;
  object-fit: cover;
}

.chef-container {
  display: flex;
  width: 90%;
  border-radius: 3rem;
  overflow: hidden;
}
/* .rightHeroPage img {
  width: 100%;
  
  height: auto; 
  border-radius: 0px 25px 25px 0px;
  object-fit: cover;
  border: 1px solid black
} */

.leftChefPage h1 {
  color: #000;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 0.05em;
}

.leftChefPage p {
  color: rgba(0, 0, 0, 0.60);
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 1.5em;
  padding-left: 0.05em;
}


@media screen and (max-width: 768px) {
  .chef-main {
    width: 100vw;
    display: flex;
  }
  
  .chef-container {
    width: 85%;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.25rem;

  }

  .leftChefPage, .rightChefPage {
    width: 100%;
    aspect-ratio: 5/4;
    height: 50%;
  }

  .leftChefPage {
      border-radius: 25px; 
      padding: 20px; 
  }

  .leftChefPage h1 {
      font-size: 1.5rem;
      align-items: center;
  }

  .leftChefPage p {
      padding-left: 1em; 
  }
}
/* Footer */

.footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: end; */
  flex: 1;
  width: 100%;
}

.footer-logo img {
  max-width: 150px;
  
}
.footer-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}
.footer-container .footer-text{
  text-align: center;
  flex: 1;
}
.footer-menu ul{
  display: flex;
  gap: 26px;
  align-items: end;
}
.footer #line{
  width:100%;
height: 5px;
background-color: rgba(0, 0, 0, 0.10);

}
.footer-menu ul a{
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
}
.footer-social{
  display: flex;
  gap: 20px;
  justify-content: end;
}
.footer-menu ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-menu li,
.footer-social li {
  margin-right: 20px;
}


.footer-menu a{
  text-decoration: none;
  color: #000000;
}
.footer-text p{
  color: rgba(0, 0, 0, 0.60);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Eudoxus Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
}
.footer-text span{
  color: #FF7967;
font-family: Eudoxus Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
}
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-menu ,
  .footer-social  {
    margin-top: 10px;
    justify-content: center;
  }
  .footer-container{
    flex-direction: column;
  }
}




/* Recipe Page */
.MainRecipeSectionFirst{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainRecipeSectionFirst h1{
  text-align: center;
  color: #000;
 font-family: Inter;
 font-size: 64px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 letter-spacing: -2.56px;
}
.recipemain{
  display: flex;
  margin-top: 50px;
  justify-content: center;  
  gap:30px;
}
.recipemain .recipeImg img{
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  /* border: 1px solid red; */

}
.nutrientInfo{
  /* border: 2px solid  red; */
  border-radius: 25px;
  padding: 20px;
  display: flex;
  gap: 16%;
  flex-direction: column;
  border-radius: 30px;
background: #E7FAFE;
  /* justify-content: flex-start;*/

}
.nutrientInfo h3{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.96px;
}
.nutrient{
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.nuts{
  display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
    align-content: center;
    justify-content: space-between;
    
}
.nutrient h4{
  color: rgba(0, 0, 0, 0.60);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.72px;
}
.nutrient p{
  color: #000;
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.72px;
}
.recipeText {
  /* border: 2px solid red; */
  width: 75%;
margin-top: 30px;
  justify-content: center;
}
.recipeText p{
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .MainRecipeSectionFirst h1 {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 39px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.56px;
}
.recipeText {
  /* border: 2px solid red; */
  width: 99%;
  justify-content: center;
}
.recipemain {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
  gap: 30px;
  flex-direction: column;
}
.mainDish {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* width: 50%; */
  justify-content: center;
}
.RecipeRight{
  
    margin-top: 33px;

}
.imagedir img{
  
    width: 100%;

}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablet devices */
  .recipemain .recipeImg img {
    width: 100%;
    height: 100%;
    object-fit: unset;
    border-radius: 25px;
    /* border: 1px solid red; */
}
.recipeText {
  /* border: 2px solid red; */
  width: 99%;
  justify-content: center;
}
}


/* Ingredients and recipe section in recipe page */

.mainDish{
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  margin: 30px;
  width: 75%;
  justify-content: space-between;
}
.Ingredients{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 88%;
}
.Ingredients h1{
  color: #000;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.44px;
}

.leftmainDish{
  
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}
.leftmainDish .radio{
  border-bottom: 1px  solid rgba(0, 0, 0, 0.10);
}
.leftmainDish h2{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.96px;
}
.radio label{
  color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;

}

/* Recipe right section of recipe page */
.rightRecipeDishmain {
  display: flex;
  gap: 33px;
  flex-direction: column;
  margin-top: 36px;
}
.rightRecipeDish{
  display: flex;
}
.rightRecipeDish img{
  width: 100px;
    height: auto;
}
.RecipeRight h1{
  color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.28px;
}

.rightRecipeDish h2{
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
letter-spacing: -0.8px;
}
.ingredientsandrecipemaindiv{
  display: flex;
  justify-content: center;
}


/* Diriections component of recipe page */
.directions {
    display: flex;
    flex-direction: column;
    gap: 41px;
    /* border: 2px solid black; */
}
.directionsmaindiv{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin-top: 30px;
  /* border: 2px solid red; */
  /* justify-content: center; */
}
 .maindir  {  
  /* justify-content: center;  */
display: flex;
justify-content: center;
}
.directions .radio{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.textdir p{
  color: rgba(0, 0, 0, 0.60);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.32px;
}
.mainrecipe1{
  
    display: flex;
    justify-content: center;

}
.recipe1{
  width: 90%;
}
.recipetitle1 {
  display: flex;
  justify-content: flex-start;
}

/* Blog Page */
/* first section blog and aricle post page */
.blogName{
  display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
  
}
.blogName h1{
  text-align: center;
}
.blogName p{
  text-align: center;
}
.blogName .search-container{
  display: flex;
  /* justify-content: center; */
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  width: 75%;
 
}
.blogName .search-container .border-search-container{
  display: flex;
  /* justify-content: space-between; */
  /* border-radius: 24px; */
  /* background: #FFF; */
  padding: 1rem;
  width: 100%;

  /* padding: 16px 13.5em 13px 1.5em;  top right bottom left */
}
.blogName .search-container .border-search-container .text-input{
  border: none;
  outline: none;
  flex:1;
}
.blogName .search-container .border-search-container button{
  border: none;
  outline: none;
  border-radius: 24px;
  background-color: #000;
  color: #FFF;
  padding: 10px 24px 10px 24px;
  cursor: pointer;
}
.blogName .search-container {
  margin-top: 20px;
}
.mainsearch{
  display: flex;
  justify-content: center;
}